{% extends 'ticketapp/base.html' %}
{% load static %}
{% block content %}

<!-- Add these links to your template -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
    .card_footer {
        display: flex;
        justify-content: space-between;
    }

    .btn {
        /* Add your common button styles here */
    }

    .btn-success {
        /* Add your styles for the success button */
    }

    .btn-danger {
        /* Add your styles for the danger button */
    }
</style>

<div class="main_content_iner ">
<div class="container-fluid p-0 sm_padding_15px">
<div class="row justify-content-center">
<div class="col-12">
<div class="dashboard_header mb_50">
<div class="row">
<div class="col-lg-6">
<div class="dashboard_header_title">
<h3>  All Tickets</h3>
</div>
</div>
<div class="col-lg-6">
<div class="dashboard_breadcam text-end">
<p><a href="{% url 'index' %}">Dashboard</a> <i class="fas fa-caret-right"></i> All Tickets</p>
</div>
</div>
</div>
</div>
</div>

{% if messages %}
  {% for message in messages %}
    {% if message.tags == 'error' %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {% else %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {% endif %}
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
{% endif %}





{% for i in ticket_list %}
  {% if i.status == 'open' %}
    <div class="col-lg-6">
      <div class="card_box position-relative mb_30 white_bg">
        <div class="white_box_tittle blue_bg">
          <div class="main-title2">
            <h4 class="mb-2 nowrap text_white">
              {{ i.ticket_id }}
              <span class="badge badge-{{ i.status }}" style="padding-left: 280px;">{{ i.get_status_display }}</span>
            </h4>
          </div>
        </div>
        <div class="box_body">
          <p class="f-w-400 "><b>Product name:</b> {{ i.product_name }}</p>
          <p class="f-w-400 ">Variant No: {{ i.variant_no }}</p>
          <p class="f-w-400 ">Problem category: {{ i.problem_category }}</p>
          <p class="f-w-400 ">Problem description: {{ i.problem_description }}</p>
          <p class="f-w-400 ">Date of purchase: {{ i.date_of_purchase }}</p>
        </div>
        <div class="card_footer" style="height: 30px;">
          <form action="{% url 'accept_ticket' i.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Accept</button>
          </form>

          <form action="{% url 'decline_ticket' i.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Decline</button>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% for i in ticket_list %}
  {% if i.status != 'open' %}
    <div class="col-lg-6">
      <div class="card_box position-relative mb_30 white_bg">
        <div class="white_box_tittle blue_bg">
          <div class="main-title2">
            <h4 class="mb-2 nowrap text_white">
              {{ i.ticket_id }}
              <span class="badge badge-{{ i.status }}" style="padding-left: 280px;">{{ i.get_status_display }}</span>
            </h4>
          </div>
        </div>
        <div class="box_body">
          <p class="f-w-400 "><b>Product name:</b> {{ i.product_name }}</p>
          <p class="f-w-400 ">Variant No: {{ i.variant_no }}</p>
          <p class="f-w-400 ">Problem category: {{ i.problem_category }}</p>
          <p class="f-w-400 ">Problem description: {{ i.problem_description }}</p>
          <p class="f-w-400 ">Date of purchase: {{ i.date_of_purchase }}</p>
        </div>
        <div class="card_footer" style="height: 30px;">
          <!-- Display some information or message indicating that the request is already accepted or declined -->
          {% if i.status == 'accept' %}
          <h7 style="color: green;">This request has already been accepted.</h7>
        {% elif i.status == 'decline' %}
          <h7 style="color: red;">This request has already been declined.</h7>
        {% endif %}
                </div>
      </div>
    </div>
  {% endif %}
{% endfor %}



</div>
</div>
</div>

{% endblock %}