{% extends 'ticketapp/base.html' %}
{% load static %}
{% block content %}
<div class="main_content_iner ">
    <div class="container-fluid p-0">
    <div class="row ">
    <div class="col-12">
    </div>
    <div class="col-md-4">
    <div class="white_box mb_30">
    <div class="box_header ">
    <div class="main-title">
    <h3 class="mb-0">line Chart</h3>
    </div>
    </div>
    <div id="sparklinedash"></div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="white_box mb_30">
    <div class="box_header ">
    <div class="main-title">
    <h3 class="mb-0">SITE TRAFFIC</h3>
    </div>
    </div>
    <div id="sparkline8"></div>
    </div>
    </div>
    <div class="col-md-4">
    <div class="white_box mb_30">
    <div class="box_header ">
    <div class="main-title">
    <h3 class="mb-0">SITE TRAFFIC</h3>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

{% endblock %}